div.ShowVideo.large {
    flex-direction: column;

}

div.ShowVideo.tail {
    flex-direction: row;
}

div.bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div.ShowVideo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38rem;

}

div.ShowVideo > * {
    /*width: 50%;*/
}

div.ShowVideo button {
    width: 10rem;
    font-size: larger;
    padding: 1rem;
}

/*div.ShowVideo > div {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    position: relative;*/
/*}*/

div.ShowVideo > div > * {
    margin: 1rem;
}

div.video video {
    width: 70%;
}

/* div.video.large {*/
/*    width: 65%;*/
/*}*/
/*div.ShowVideo > div > div > video {*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/

/*div.ShowVideo > div > ul {*/
/*    !*width: 30%;*!*/
/*}*/
div.text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.video.tall {
    /*width: 50%;*/
}