div.Guest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
}

p.guestName {
    font-size: 3rem;
}

p.guestDrink {
    font-size: 2rem;
}